/* Global setting */
html {
  font-family: "Open Sans", sans-serif;
}
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font weight */
  --font-bold: 700;
  --font-semi-bold: 600;
  --font-regular: 400;
  /* Size */
  --base-space: 4px;
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
}

/* Typographyd */
.title {
  font-size: var(--font-large);
  font-weight: var(--font-bold);
  color: var(--color-black);
  margin: 16px 0;
}

.sub-title {
  font-size: var(--font-regular);
  font-weight: var(--font-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

.description {
  font-size: var(--font-regular);
  font-weight: var(--font-medium);
  color: var(--color-black);
  margin: 8px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-pink);
  color: var(--color-white);
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--font-semi-bold);
}
.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;

  border-radius: var(--size-border-radius);
  cursor: pointer;
}

.navbar__menu__item:hover {
  background: var(--color-dark-pink);
}
.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}
/* 
1. relative는 원래 아이템의 위치에서 이동
2. absolute는 나를 포함하는 아이템의 위치에서 이동
3. fixed는 Window의 위치에서 이동
4. sticky는 scrolling 돼도 Window 기준 지정된 위치에 고정
*/
